#fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.legend {
    width: 10em;
    border: 1px solid black;
}

.legend .title {
    display: block;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    padding: 0 0.3em;
}

.legend .chip {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border: 2px solid;
    border-radius: 0.5em;
    margin-right: 0.5em;
}
